@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Authentication;
@inject IConfiguration Configuration;
@inject IViewLocalizer L;
@inject ISettingsService _sett;

@{
    var SessionTimeoutWarnAfter = @_sett.Global.SessionTimeoutWarnAfter;
    var SessionTimeoutRedirAfter = @_sett.Global.SessionTimeoutRedirAfter;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - @_sett.Brand.ApplicationName</title> 

    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/main/app-dark.css">
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/logo/favicon-16x16.png" type="image/png">
    <script src="/assets/extensions/jquery/jquery.min.js"></script>
    <style>    
        body {
            background-color: @_sett.Brand.ColorLightBackground !important;
        }    
        h1, h2, h3, h4, h5, h6 {
            color: @_sett.Brand.ColorHeadlines !important;
        }
        a {
            color: @_sett.Brand.ColorLink !important;
        }
        .text-muted {
            color: @_sett.Brand.ColorTextMuted !important;
        }
        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            outline: none !important;
            border-color: inherit !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;            
        }
        *:focus {
            outline: none !important;
        }
        input[type=text]:focus {
         
        }
        .form-check-input:checked {
            background-color: @_sett.Brand.ColorPrimary !important;
            border:1px solid @_sett.Brand.ColorPrimary !important;
        }
        .form-check.form-check-danger .form-check-input {
            background-color: @_sett.Brand.ColorDanger !important;
            border-color: @_sett.Brand.ColorDanger !important;
        }
        .page-link {
            background-color: @_sett.Brand.ColorPrimary !important;
            border-color: @_sett.Brand.ColorPrimary !important;
            color: #fff !important;
            display: block;
            font-size: var(--bs-pagination-font-size);
            padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
            position: relative;
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            margin-right:3px !important;
        }
        .active>.page-link, .page-link.active {
            background-color: @_sett.Brand.ColorSecondary !important;
            border-color: @_sett.Brand.ColorSecondary !important;
            color: #fff !important;
        }
        .form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid #dce7f1;
            border-radius: .25rem;
            color: #607080;
            display: block;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            padding: .375rem .75rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            width: 100%;
        }
        .bg-danger {
            background-color: @_sett.Brand.ColorDanger !important;
        }
        .bg-success {
            background-color: @_sett.Brand.ColorSuccess !important;
        }
        .bg-warning {
            background-color: @_sett.Brand.ColorWarning !important;
        }
        .bg-primary {
            background-color: @_sett.Brand.ColorPrimary !important;
        }
        .bg-info {
            background-color: @_sett.Brand.ColorInfo !important;
        }
        .text-secondary {
            color: @_sett.Brand.ColorSecondary !important;
        }
        .text-danger {
            color: @_sett.Brand.ColorDanger !important;
        }
        .text-success {
            color: @_sett.Brand.ColorSuccess !important;
        }
        .text-warning {
            color: @_sett.Brand.ColorWarning !important;
        }
        .text-primary {
            color: @_sett.Brand.ColorPrimary !important;
        }
        .text-info {
            color: @_sett.Brand.ColorInfo !important;
        }
        .btn-primary {
            background-color: @_sett.Brand.ColorPrimary !important;
        }
        a.btn-primary{
            background-color: @_sett.Brand.ColorPrimary !important;
            color:#fff !important;
        }
        .btn-warning {
            background-color: @_sett.Brand.ColorWarning !important;
            border:1px solid @_sett.Brand.ColorWarning !important;
        }
        a.btn-warning{
            background-color: @_sett.Brand.ColorWarning !important;
            border:1px solid @_sett.Brand.ColorWarning !important;
            color:#000 !important
        }
        .btn-success {
            background-color: @_sett.Brand.ColorSuccess !important;
        }
        a.btn-success{
            background-color: @_sett.Brand.ColorSuccess !important;
            color:#fff !important;
        }
        .btn-info {
            background-color: @_sett.Brand.ColorInfo !important;
        }
        a.btn-info {
            background-color: @_sett.Brand.ColorInfo !important;
            color:#fff !important;
        }
        .btn-danger {
            background-color: @_sett.Brand.ColorDanger !important;
            border:1px solid @_sett.Brand.ColorDanger !important;
        }
        a.btn-danger {
            background-color: @_sett.Brand.ColorDanger !important;
            border:1px solid @_sett.Brand.ColorDanger !important;
            color:#fff !important;
        }

        .alert-danger {
            background-color: @_sett.Brand.ColorDanger !important;
        }

        .alert-warning {
            background-color: @_sett.Brand.ColorWarning !important;
        }

        .alert-success {
            background-color: @_sett.Brand.ColorSuccess !important;
        }
        .alert-info {
            background-color: @_sett.Brand.ColorInfo !important;
        }
        .sidebar-wrapper .menu .submenu .submenu-item.active>a {
            border-radius: 0.5rem;
            background-color: @_sett.Brand.ColorLightBackground !important;
            color: @_sett.Brand.ColorSecondary !important;
            font-weight: 700;
        }
        .sidebar-wrapper .menu .sidebar-item.active>.sidebar-link {
            background-color: @_sett.Brand.ColorPrimary !important;
        }
        .sidebar-wrapper .menu .sidebar-item.active>.sidebar-link span {
            color:#fff !important;
        }
        .sidebar-wrapper .menu .sidebar-link span {
            color: @_sett.Brand.ColorPrimary !important;
        }
        .sidebar-wrapper .menu .submenu .submenu-item a {
            color:@_sett.Brand.ColorPrimary !important;
        }
        .sidebar-wrapper .menu .sidebar-title {
            color:@_sett.Brand.ColorPrimary !important;
        }
        #langBtn {
            text-decoration: none !important;
            margin-left:-12px !important;
        }
        .drpHead {
            color: @_sett.Brand.ColorPrimary !important;
        }
        .drpHead:hover {
            color: @_sett.Brand.ColorLink !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active" style="border-right:1px solid #EDECEC !important;">
                <div class="sidebar-header position-relative" style="padding-top:1rem !important;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="logo" asp-BrandLogo="47">
                        </div>
                        <input class="form-check-input  me-0" type="hidden" id="toggle-dark">
                        <div class="sidebar-toggler  x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu" style="padding-left:1.2rem !important;">
                        <li class="sidebar-title">@L["1"]</li>                                              
                        <partial name="_NavMenu" />
                    </ul>
                </div>
            </div>
        </div>
        <div id="main"  class='layout-navbar'>
            <header class="mb-3">
                <nav class="navbar navbar-expand navbar-top" style="background-color:@_sett.Brand.ColorPrimary !important;">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block text-light">
                            <i class="bi bi-justify fs-3"></i>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-lg-0">
                             <div class="dropdown ">
                                @{
                                    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
                                    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString().ToLower();
                                    
                                }
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-light">@L["2"], @User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)!.Value @User.FindFirst(System.Security.Claims.ClaimTypes.Surname)!.Value</h6>
                                            <p class="mb-0 text-sm text-light">@User.FindFirst(System.Security.Claims.ClaimTypes.Role)!.Value</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md" asp-ProfileImage="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)!.Value">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                                    <li><a class="dropdown-item drpHead" href="/User/Profile"><i class="icon-mid bi bi-person me-2"></i> @L["3"]</a></li>
                                    <li><a class="dropdown-item drpHead" href="/User/TwoFactorType"><i class="icon-mid bi bi-shield-lock me-2"></i>
                                            @L["4"]</a></li>
                                    @{
                                        var ClaimType = "IsLdapUser";
                                        if(User.FindFirst(ClaimType)!.Value.ToString().ToLower()=="false") {
                                            <li><a class="dropdown-item drpHead" href="/User/ChangePassword"><i class="icon-mid bi bi-key me-2"></i>
                                            @L["5"]</a></li>
                                        }
                                    }                                    
                                    <li>
                                        <form id="selectLanguage" asp-controller="Culture" asp-action="SetCulture" asp-route-returnUrl="@returnUrl" method="post">
                                            <a class="dropdown-item drpHead"><i class="icon-mid bi bi-translate me-2"></i>
                                            @if(culture=="en") {
                                                <input type="hidden" name="culture" value="de" />
                                                <button id="langBtn" type="submit" class="btn btn-link drpHead">German</button>
                                            } else if(culture=="de") {
                                                <input type="hidden" name="culture" value="en" />
                                                <button id="langBtn" type="submit" class="btn btn-link drpHead">English</button>
                                            }   
                                            </a>                                         
                                        </form>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item drpHead" asp-controller="User" asp-action="Logout" asp-route-returnUrl="/Home/Index"><i
                                                class="icon-mid bi bi-box-arrow-left me-2"></i> @L["6"]</a></li>
                                </ul>
                            </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div id="main-content">
                <div class="page-heading">
                    <section class="section">                    
                            @RenderBody()                    
                    </section>
                </div>
                 <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Sascha Heimann</p>
                    </div>
                    <div class="float-end">
                        <p><span class="text-muted"><i class="bi bi-git" style="color:@_sett.Brand.ColorLink !important;"></i>&nbsp;Release: none / Build: @GetType().Assembly.GetName().Version!.ToString()</span>
                    </div>
                </div>
            </footer>
            </div>
           
        </div>
    </div>
    
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/extensions/bootstrap-session-timeout/bootstrap-session-timeout.js"></script>
    <script src="~/assets/js/app.js"></script>    
    <script>
        $.sessionTimeout({
            title: '@L["8"]',
            message: '@L["7"]',
            logoutButton: '@L["9"]',
            keepAliveButton: '@L["10"]',
            keepAliveUrl: '/user/ping',
            keepAliveInterval: 5000,
            keepAlive: true,
            logoutUrl: '/User/Login',
            redirUrl: '/User/Login/?res=sesst',
            warnAfter: @SessionTimeoutWarnAfter,
            redirAfter: @SessionTimeoutRedirAfter,
            countdownBar: true,
            countdownSmart: false,
            appendTimestamp: true
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
