@model UpdateBrandSettingsViewModel
@inject IViewLocalizer L
@inject ISettingsService _sett
@{
    ViewData["Title"] = "Brand Settings";
}
@{
    var logonBg = "/assets/images/bg/bg.jpg";
    if (_sett.Brand.LoginBackground != null)
    {
        logonBg = _sett.Brand.LoginBackground;
    }
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>@L["1"]</h3>
            <p class="text-subtitle text-muted">@L["2"]</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Settings / Brand-Settings</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="card card shadow p-3 mb-5 rounded">
    @if (ViewData["message"] != null)
    {
        <div class="alert alert-success"><i class="bi bi-check-circle"></i> @ViewData["message"]</div>
        ViewData["message"] = null;
    }
    <div class="card-body">
        <form asp-action="SettingsBrand" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationName">@L["3"]</label>
                <input asp-for="ApplicationName" class="form-control" />
                <span asp-validation-for="ApplicationName" class="text-danger"></span>
            </div>
            <div class="row mt-5">
                <h5>@L["22"]</h5>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorLink" class="form-label">@L["16"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorLink"
                            title="Choose your link color">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorHeadlines" class="form-label">@L["17"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorHeadlines"
                            title="Choose your Headlines color">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorTextMuted" class="form-label">@L["18"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorTextMuted"
                            title="Choose your muted text color">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorLightBackground" class="form-label">@L["8"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorLightBackground"
                            title="Choose your light background color">
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h5>@L["23"]</h5>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="ColorPrimary" class="form-label">@L["4"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorPrimary"
                            title="Choose your primary color">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="ColorSecondary" class="form-label">@L["15"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorSecondary"
                            title="Choose your secondary color">
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h5>@L["24"]</h5>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorDanger" class="form-label">@L["5"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorDanger"
                            title="Choose your danger color">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorWarning" class="form-label">@L["6"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorWarning"
                            title="Choose your warning color">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorInfo" class="form-label">@L["7"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorInfo"
                            title="Choose your info color">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="ColorSuccess" class="form-label">@L["14"]</label>
                        <input type="color" class="form-control form-control-color" asp-for="ColorSuccess"
                            title="Choose your success color">
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h5>@L["25"]</h5>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="UploadedLogo">@L["9"] (<i class="text-info"><b>@L["10"]</b></i>)</label><br>
                        <input type="file" asp-for="UploadedLogo" accept="image/png, image/gif, image/jpeg"
                            class="form-control" />
                        <br />
                        <label>@L["11"]</label>
                        <div id="profImg" asp-BrandLogo="47" class="user-img d-flex align-items-center">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="UploadedLogonBackground">@L["21"]</label><br>
                        <input type="file" asp-for="UploadedLogonBackground" accept="image/png, image/gif, image/jpeg"
                            class="form-control" />
                        <br />
                        <label>@L["20"]</label>
                        <div id="logonImg" class="user-img d-flex align-items-center">
                            <img src="@logonBg" height="50" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary mt-1">@L["12"]</button>
                <a data-bs-toggle="modal" data-bs-target="#danger" class="btn btn-warning mt-1"
                    style="margin-right:10px !important;">@L["13"]</a>
            </div>
        </form>
    </div>
</div>

<!--Modal dialog for deletion -->
<div class="modal fade text-left" id="danger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" style="color:#fff !important;" id="myModalLabel120">Danger Modal
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block">@L["29"]</span>
                </button>
                <form id="delForm">
                    <button class="btn btn-sm btn-danger" asp-action="restoreStyle">@L["28"]</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End modal dialog for deletion -->


@section scripts {
<script src="~/assets/extensions/toastify-js/src/toastify.js"></script>
<script>
    // set modal dialog variables
    $('#danger').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal       
        var modal = $(this);
        modal.find('.modal-title').text('@L["26"]'); // set modal title
        modal.find('.modal-body').html('@L["27"]'); // set modal content text        
    });
</script>
}