@model MailSettings
@inject IViewLocalizer L
@{
    ViewData["Title"] = "Mail Settings";
}

<style>
    .chkBx {
        margin-left:20px !important;
        margin-top:5px !important;
    }
</style>

<div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@L["1"]</h3>
                <p class="text-subtitle text-muted">@L["2"]</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Settings / Mail-Settings</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<div class="card card shadow p-3 mb-5 rounded">
    <div class="card-header alMsg">
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-success"><i class="bi bi-check-circle"></i> @ViewData["message"]</div>
            ViewData["message"] = null;
        }
    </div>
    <div class="card-body">
        <form asp-action="SettingsMail" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SmtpServer">@L["3"]</label>
                <input asp-for="SmtpServer" class="form-control" />
                <span asp-validation-for="SmtpServer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmtpPort">@L["4"]</label>
                <input asp-for="SmtpPort" class="form-control" />
                <span asp-validation-for="SmtpPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username">@L["5"]</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">@L["6"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmtpFromAddress">@L["7"]</label>
                <input asp-for="SmtpFromAddress" class="form-control" />
                <span asp-validation-for="SmtpFromAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-check-lg">
                    <input asp-for="SmtpUseTls" class="form-check-input">
                    <label asp-for="SmtpUseTls" class="form-check-label text-gray-600 chkBx">@L["8"]</label>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary mt-1" >@L["9"]</button>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script src="~/assets/extensions/toastify-js/src/toastify.js"></script>    
}