@model List<AppUser>
@inject IViewLocalizer L

@{
    ViewData["Title"] = "Users";
}
<link rel="stylesheet" href="~/assets/extensions/toastify-js/src/toastify.css">
<link rel="stylesheet" href="~/assets/css/pages/toastify.css">
<link rel="stylesheet" type="text/css" href="~/assets/extensions/dataTablesjs-1.12.1/dataTables.bootstrap5.min.css">

<style>
    .dataTables_filter {
        
    }

</style>

<div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@L["1"]</h3>
                <p class="text-subtitle text-muted">@L["2"]</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Admin / Users</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<div class="card card shadow p-3 mb-5 rounded">
    <div class="card-body">
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-success mb-3"><i class="bi bi-check-circle"></i> @ViewData["message"]</div>
            ViewData["message"] = null;
        }
        <table class="table table-striped" id="dt2">
            <thead>
                <tr>
                    <th style="max-width:50px !important;min-width:50px !important;">Avatar</th>
                    <th style="max-width:140px !important; min-width:140px !important;">Username</th>
                    <th style="max-width:160px !important; min-width:160px !important;">Email</th>
                    <th style="max-width:100%">roles</th>
                    <th style="max-width:60px !important; min-width:60px !important;">2fa-act</th>
                    <th style="max-width:60px !important; min-width:60px !important;">2fa-enf</th>
                    <th style="max-width:60px !important; min-width:60px !important;">ldap</th>
                    <th style="max-width:60px !important; min-width:60px !important;">active</th>
                    <th style="max-width:100px !important; min-width:100px !important;">action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--Modal dialog for deletion -->
<div class="modal fade text-left" id="danger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title " style="color:#fff !important;" id="myModalLabel120">Danger Modal
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">@L["3"]</span>
                </button>
                <form id="delForm" action="" method="post">
                    <button class="btn btn-danger">@L["4"]</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- End modal dialog for deletion -->

@section scripts {    
  
    <script type="text/javascript" charset="utf8" src="~/assets/extensions/dataTablesjs-1.12.1/jquery.dataTables.min.js"></script>
    <script src="~/assets/extensions/dataTablesjs-1.12.1/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/extensions/toastify-js/src/toastify.js"></script>     
    <script>   

        $('#danger').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var userId = button.attr('data-userid'); // Extract info from data-* attributes
            var userName = button.attr('data-username'); // Extract info from data-* attributes
            $("#delForm").attr('action', '/Admin/DeleteUser/' + userId); // set form action        
            var modal = $(this);
            modal.find('.modal-title').text('@L["5"] ' + userName + '?'); // set modal title
            modal.find('.modal-body').html('@L["6"] <b>' + userName + '</b>?<br>@L["7"]'); // set modal content text     
        });   

        function toggleAccountEnabled(UserId) {
                var actionUrl = "";
                var result = "";

                if ($('#active' + UserId).attr('checked') != 'checked') {
                    actionUrl = "/Admin/EnableUser/?UserId=" + UserId;
                    result = "@L["8"]";
                    $('#active' + UserId).attr('checked', 'checked');

                } else if ($('#active' + UserId).attr('checked') == 'checked') {
                    actionUrl = "/Admin/DisableUser/?UserId=" + UserId;
                    result = "@L["9"]";
                    $('#active' + UserId).removeAttr('checked');
                }

                $.ajax({
                    url: actionUrl,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success == true) {
                            Toastify({
                                text: result,
                                duration: 3000,
                                close: true,
                                gravity: "bottom",
                                position: "right",
                                stopOnFocus: true
                            }).showToast();
                        }
                    },
                    error: function () {
                        $('.alMsg').html('<div class="alert alert-light-danger"><i class="bi bi-check-circle"></i> There was an error!</div>');
                    }
                });
            }

        function toggleLdapLogin(UserId) {
            var actionUrl = "";
                var result = "";

                if ($('#ldap' + UserId).attr('checked') != 'checked') {
                    actionUrl = "/Admin/EnableLdapLogin/?UserId=" + UserId;
                    result = "@L["10"]";
                    $('#ldap' + UserId).attr('checked', 'checked');

                } else if ($('#ldap' + UserId).attr('checked') == 'checked') {
                    actionUrl = "/Admin/DisableLdapLogin/?UserId=" + UserId;
                    result = "@L["11"]";
                    $('#ldap' + UserId).removeAttr('checked');
                }

                $.ajax({
                    url: actionUrl,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success == true) {
                            Toastify({
                                text: result,
                                duration: 3000,
                                close: true,
                                gravity: "bottom",
                                position: "right",
                                stopOnFocus: true
                            }).showToast();
                        }
                    },
                    error: function () {
                        $('.alMsg').html('<div class="alert alert-light-danger"><i class="bi bi-check-circle"></i> There was an error!</div>');
                    }
                });
            }

        function toggleMfaForce(UserId) {
            var actionUrl = "";
                var result = "";

                if ($('#2fa' + UserId).attr('checked') != 'checked') {
                    actionUrl = "/Admin/EnableMfaForce/?UserId=" + UserId;
                    result = "@L["12"]";
                    $('#2fa' + UserId).attr('checked', 'checked');

                } else if ($('#2fa' + UserId).attr('checked') == 'checked') {
                    actionUrl = "/Admin/DisableMfaForce/?UserId=" + UserId;
                    result = "@L["13"]";
                    $('#2fa' + UserId).removeAttr('checked');
                }

                $.ajax({
                    url: actionUrl,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success == true) {
                            Toastify({
                                text: result,
                                duration: 3000,
                                close: true,
                                gravity: "bottom",
                                position: "right",
                                stopOnFocus: true
                            }).showToast();
                        }
                    },
                    error: function () {
                        $('.alMsg').html('<div class="alert alert-light-danger"><i class="bi bi-check-circle"></i> There was an error!</div>');
                    }
                });
            }

        function ExtendGrid() {
            $('#dt2_filter').append('&nbsp;&nbsp;<a class=\"btn btn-primary\" href=\"/Admin/NewUser\">@L["0"]</a>');
            $('#dt2_filter').parent('div').parent('div').addClass('mb-5');
            $('.dataTables_paginate').parent('div').parent('div').addClass('mt-3');
        }
    </script>
    <script>
        window.DataTables2 = {
            dataTable: null,
            buildDataTable: function () {
                this.dataTable = $("#dt2").DataTable({
                    "ajax": {
                        "url": "GetUsers",
                        "dataSrc": "",
                        "method": "POST",
                    },
                    "columns": [
                        { "data": "ProfilePicture",
                          "render": function (data, type, row, meta) {
                              return data === null ? '<div class=\"avatar avatar-md\"><img src=\"/assets/images/faces/user.png\" height=\"36\" alt=\"User avatar image\""></div>' : '<div class=\"avatar avatar-md\"><img src=\"' + data + '\" height=\"36\" alt=\"User avatar image\"></div>';
                          }
                        },
                        { "data": "UserName" },
                        { "data": "Email"},
                        { "data": "RolesCombined" },
                        {
                            "data": "TwoFactorEnabled",
                            "render": function (data, type, row, meta) {
                                return data === true ? '<div class=\"form-check form-check-success\"><input class=\"form-check-input\" type=\"radio\" aria-label=\"2fa check\"></div>' : '<div class=\"form-check form-check-danger\"><input class=\"form-check-input\" aria-label=\"2fa check\" type=\"radio\"></div>'
                            }
                        },
                        {
                            "data": "IsMfaForce",
                            "render": function (data, type, row, meta) {
                                return data === false ? '<div class=\"form-check form-switch\"><input class=\"form-check-input\" type=\"checkbox\" aria-label=\"2fa enforce check\" id=\"2fa' + row.Id + '\" data-uid=\"' + row.Id + '\" onclick=toggleMfaForce(\"' + row.Id + '\"); /></div>' : '<div class=\"form-check form-switch\"><input aria-label=\"2fa enforce check\" class=\"form-check-input\" type=\"checkbox\" id=\"2fa' + row.Id + '\" data-uid=\"' + row.Id + '\" checked=\"checked\"  onclick=toggleMfaForce(\"' + row.Id + '\"); /></div>'
                            }
                        },
                        {
                            "data": "IsLdapLogin",
                            "render": function (data, type, row, meta) {
                                return data === false ? '<div class=\"form-check form-switch\"><input class=\"form-check-input\" type=\"checkbox\" aria-label=\"ldap check\" id=\"ldap' + row.Id + '\" data-uid=\"' + row.Id + '\" onclick=toggleLdapLogin(\"' + row.Id + '\"); /></div>' : '<div class=\"form-check form-switch\"><input aria-label=\"ldap check\" class=\"form-check-input\" type=\"checkbox\" id=\"ldap' + row.Id + '\" data-uid=\"' + row.Id + '\" checked=\"checked\"  onclick=toggleLdapLogin(\"' + row.Id + '\"); /></div>'
                            }
                        },
                        {
                            "data": "IsEnabled",
                            "render": function (data, type, row, meta) {
                                return data === false ? '<div class=\"form-check form-switch\"><input class=\"form-check-input\" type=\"checkbox\" aria-label=\"account check\" id=\"active' + row.Id + '\" data-uid=\"' + row.Id + '\" onclick=toggleAccountEnabled(\"' + row.Id + '\"); /></div>' : '<div class=\"form-check form-switch\"><input aria-label=\"account check\" class=\"form-check-input\" type=\"checkbox\" id=\"active' + row.Id + '\" data-uid=\"' + row.Id + '\" checked=\"checked\"  onclick=toggleAccountEnabled(\"' + row.Id + '\"); /></div>'
                            }
                        },
                        { "data": null,
                            "render": function (data, type, row, meta) {
                                        return '<div class=\"btn-group\" role=\"group\" aria-label=\"role actions\"><a href=\"/Admin/EditUser/' + row.Id + '\" class=\"btn btn-primary btn-sm\">Edit</a>&nbsp;<a href=\"#\" class=\"btn btn-danger btn-sm\" data-bs-toggle=\"modal\" data-bs-target=\"#danger\" data-userid=\"' + row.Id + '\" data-username=\"' + row.UserName + '\">Delete</a></div>'
                            }
                        }
                    ]
                });
                ExtendGrid();
            },
            destroyDataTable: function () {
                if (this.dataTable) {
                    this.dataTable.destroy();
                }
            },
            refreshDataTable: function () {
                if (this.dataTable) {
                    this.dataTable.ajax.reload();
                }
            }
        }
        DataTables2.buildDataTable();
    </script>
}